
/*Import statements for google fonts */
@import url('https://fonts.googleapis.com/css?family=Dosis:200,400');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Maven+Pro');


.mainBody{										/* styling main body part */
	margin: 30px 300px 30px 300px;			
}
.skills{										/* styling fonts of personal skills and professional skills */
	font-family: 'Maven Pro', sans-serif;
	font-size: 12px;
}
body{											/* styling body background to black */
	background-color: black;
}
.image{											/* styling profile image */
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 40px 0px 20px 30px;
}
.name{											/* styling name */
	font-family: 'Dosis', sans-serif;
	font-size: 50px;
	margin-bottom: 10px;
}
.progress{										/* styling progress bar */
	height: 7px;
}
.workExperience{								/* styling work experience table */
	background-color: white;
	padding: 30px 30px 0px 50px;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.ruler{											/* styling underline of header section */
	width: 510px;
	height: 2px; 
	size: 1px; 
	background-color: black;
	margin: 0px 0px 10px 0px;
	float: left;	
}
.age{											/* styling age in header section */
	font-size: 25px;
	font-weight: bold;
}
.underLine{										/* styling underline of work experience */
	width: 100%;
	height: 2px; 
	size: 1px; 
	background-color: black;
	opacity: 0.4;
	margin-bottom: 10px;
}
.firstRow{										/* Styling header section */
	width: 100%;
	display: flex;
	background-image: linear-gradient(#ffccff,#ffe6ff,#ffccff);
}
.secCol{
	margin:0px 50px 0px 50px;
}
.firstTdWidth{									/* styling first table division */
	width: 20%;
	padding-left: 60px;	
}
.secTdWidth{									/* styling second table division */
	width: 30%;
	margin-left: 20px;
}
.workTitle{										/* styling font of work title */
	font-family: 'Roboto Slab', serif;
	font-weight: bold;
}
.workSecTitle{									/* styling font of work subtitle */
	margin-top: -15px;
	font-family: 'Maven Pro', sans-serif;
	font-style: italic;
}
.heading:hover {
        color: #ff66cc;
    }
.workDetails{									/* styling margin of work details */
	margin: -20px 0px 30px 0px;
}
.underLineLevel2{								/* styling underline of skills */
	width: 100%;
	height: 2px; 
	size: 1px; 
	opacity: 0.4;
	background-color: black;
	margin-left: 6px;
}
.otherDetails{									/* styling footer section */						
	font-family: 'Dosis', sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding: 30px 0px 0px 100px;
}
.lastrow {
	width: 100%;
	display: flex;
	background-color: #efb8dd;
	height: 100px;
	background-image: linear-gradient(to bottom right,#efb8dd , #f2e8ef);
}